.slick-prev,
.slick-next {
 
  z-index: 1; 
  color: #1F1D1F;
}
.slick-prev {
  left:10px ;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbdbdb;
  }
  
  .slick-next {
    left: auto;
    right:10px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dbdbdb;
  }
  .slick-prev:hover{
    background-color: #dbdbdb;
  }
  .slick-next:hover{
    background-color: #dbdbdb;
  }